<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Material</title>
</head>
<body>


 <footer class="footer">
            <p>&copy; KPI project</p>
 </footer>

</body>
</html>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Object</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">KPI Student Helper</a>
        </div>
          <ul class="nav navbar-nav">
              <li><a href="/about/">About</a></li>
              <li><a href="/contacts/">Contacts</a></li>
              <li><a href="/materials/all/">Materials</a></li>
          </ul>

        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
              {% if username %}
                   <a class="btn btn-danger" href="/auth/logout/" role="button">Sign out({{ username }})</a>
                  <a class="btn btn-info" href="/account/" role="button">Profile</a>
              {% else %}
                  <a class="btn btn-success" href="/auth/login/" role="button">Sign in</a>
                  <a class="btn btn-default" href="/auth/register/" role="button">Registration</a>
              {% endif %}
          </form>
        </div>
      </div>
    </nav>

    <div class="container marketing">
      <div class="row">
          <br>   </br>
            <a href="{{ material.upload_material.url}}">File</a>
              <h4>{{ material.faculty }} </h4>
              <h4>{{ material.professor }} </h4>
              </h4>{{ material.discipline }} </h4>
              <h4>{{ material.year_discipline }} </h4>
      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>