<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Materials</title>
       <style>
           .center {
                width: 150px;
                height: 60px;
                top: 30%;
                left: 100%;
                margin: 100px ;
           }
           .btn-file {
               position: relative;
               overflow: hidden;
            }

           .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
           #search {
               width: 300px;
           }

        </style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script>
          $(document).ready(function(){
              $("#searchButton").click(function(){
                  btn = $(this);
                  inp = $("#search");
            $.ajax({type: "GET", url:"/search", data: {search: inp.val(), xhr: true}, success: function(result){

                var materials = jQuery.parseJSON(result);
                $(".addMaterial").remove();
                for (i in materials){
                    $("#addMaterial").append('<div class="post addMaterial"> <h6><a href="/materials/get/' +  materials[i].id + '/">' + materials[i].upload_material + ' </a></h6> </div>');
                };
            }});
        });
    });

          function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
        $(document).ready(function(){
            $(".add").click(function(){
                btn = $(this);
                $.ajax({type: "POST", url:"/bucket", data: {add: btn.attr("value"), xhr: true}, success: function(result){

                    if(result.status !== "ok"){
                       
                    }
                    else{
                       btn.hide();
                    };
            }});
        });
    });
      </script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 <link rel="shortcut icon" href="http://cs8.pikabu.ru/post_img/big/2016/12/12/8/1481546085176190884.png" type="image/png">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">KPI Student Helper</a>
        </div>
          <ul class="nav navbar-nav inline">
              <li><a href="/about/">About</a></li>
              <li><a href="/contacts/">Contacts</a></li>
              <li><a href="/materials/all/">Materials</a></li>
          </ul>

          <ul class="list-inline">
               <li>
                   <div class="input-group stylish-input-group">
                     <div>
                         <br>
                        <input type="text" class="form-control" id="search"  placeholder="Search...">
                         <button class="btn btn-success " id="searchButton">Search</button>
                     </div>
                   </div>
               </li>

        <div  class="navbar-collapse collapse pull-right">
          <form class="navbar-form "> {% csrf_token %}
              {% if user.is_authenticated %}
                  <a class="btn btn-danger" href="/auth/logout/" role="button">Sign out({{ user.username }})</a>
                  <a class="btn btn-info" href="/account/" role="button">Profile</a>
              {% else %}
                  <a class="btn btn-success" href="/auth/login/" role="button">Sign in</a>
                  <a class="btn btn-default" href="/auth/register/" role="button">Registration</a>
              {% endif %}
          </form>

            <li> <div>
                {% if user.is_authenticated %}
                 <a class="btn btn-primary" href="/bucket/" role="button">Bucket</a>
                {% endif %}
                 </div>
        </div>
              </li>
          </ul>
      </div>


    </nav>

    <div class="center">
    <br>
       {% if user.is_authenticated %}
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            <input type="text" id="faculty" name="faculty" class="form-control" placeholder="Faculty" required>
            <input type="text" id="discipline" name="discipline" class="form-control" placeholder="Discipline" required>
            <input type="text" id="year" name="year" class="form-control" placeholder="Year" required>
            <input type="text" id="professor" name="professor" class="form-control" placeholder="Professor" required>
            <span class="btn btn-default btn-file">
             Choose file<input type="file" name="material">
            </span>
            <button class="btn btn-primary" id="send" type="submit">Send</button>
        </form>
        {% endif %}
        <br>

    <div id="addMaterial">
        {% for material in materials %}
            <div class="post add">
                 <h6><a href="/materials/get/{{ material.id }}/">{{ material.upload_material.name}} </a></h6>
                {% if material not in user.my_material.all %}
                    <button class="btn btn-primary add" value={{ material.id }} type="submit">Add</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>





