<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Materials</title>
       <style>
           .center {
                width: 250px;
                height: 10px;
                top: 30%;
                left: 10%;
                margin: 50px ;

           }
        </style>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">KPI Student Helper</a>
        </div>
          <ul class="nav navbar-nav">
            <li><a href="/about/">About</a></li>
            <li><a href="/materials/all/">Materials</a></li>
          </ul>

        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
              {% if user %}
                  <a class="btn btn-danger" href="/auth/logout/" role="button">Sign out({{ username }})</a>
                  <a class="btn btn-info" href="/account/" role="button">Profile</a>
              {% else %}
                  <a class="btn btn-success" href="/auth/login/" role="button">Sign in</a>
                  <a class="btn btn-default" href="/auth/register/" role="button">Registration</a>
              {% endif %}

          </form>
        </div>
      </div>
    </nav>


       <div class="center">
      <div class="container">
       {% if user %}
        <form method="post" enctype="multipart/form-data">

            <input type="text" id="faculty" name="faculty" class="form-control" placeholder="Faculty" required>
            <input type="text" id="discipline" name="discipline" class="form-control" placeholder="Discipline" required>
            <input type="text" id="year" name="year" class="form-control" placeholder="Year" required>
            <input type="text" id="professor" name="professor" class="form-control" placeholder="Professor" required>
            <input type="file" name="material">


    <button type="submit">
        send
    </button>
    </form>
{% endif %}

{% for material in materials %}
    <h6><a href="/materials/get/{{ material.id }}/">{{ material.upload_material}} </a></h6>
{% endfor %}
      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>





